In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("green_tripdata_2019-09.csv.gz",compression='gzip',nrows=100)

In [8]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [9]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [24]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")

In [25]:
engine.connect()

In [58]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
df_iter = pd.read_csv("yellow_tripdata_2019-01.csv",iterator=True, chunksize=100000)

In [47]:
df = next(df_iter)

In [49]:
type(df)

pandas.core.frame.DataFrame

In [45]:
len(df)

100000

In [53]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [62]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [64]:
from time import time

while True:
    start_time = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    end_time = time()
    print(f"Chunk appended successfully in {end_time - start_time}")

Chunk appended successfully in 12.660881996154785
Chunk appended successfully in 10.865468502044678
Chunk appended successfully in 10.489649057388306
Chunk appended successfully in 10.667873859405518
Chunk appended successfully in 11.28181004524231
Chunk appended successfully in 10.955622911453247
Chunk appended successfully in 11.124109983444214
Chunk appended successfully in 11.573378324508667
Chunk appended successfully in 10.699690341949463
Chunk appended successfully in 11.56237530708313
Chunk appended successfully in 11.07833194732666
Chunk appended successfully in 11.236743211746216
Chunk appended successfully in 10.771482706069946
Chunk appended successfully in 10.834110736846924
Chunk appended successfully in 11.410174369812012
Chunk appended successfully in 11.206793308258057
Chunk appended successfully in 11.008183002471924
Chunk appended successfully in 11.593485355377197
Chunk appended successfully in 11.396881103515625
Chunk appended successfully in 10.357730627059937
Chunk appended successfully in 11.349853754043579
Chunk appended successfully in 11.444479942321777
Chunk appended successfully in 11.658635139465332
Chunk appended successfully in 10.678323745727539
Chunk appended successfully in 11.338404178619385
Chunk appended successfully in 10.195456981658936
Chunk appended successfully in 11.603060722351074
Chunk appended successfully in 10.538283348083496
Chunk appended successfully in 10.873027086257935
Chunk appended successfully in 11.927839994430542
Chunk appended successfully in 10.705439329147339
Chunk appended successfully in 11.193873167037964
Chunk appended successfully in 10.80924916267395
Chunk appended successfully in 11.87240219116211
Chunk appended successfully in 10.908031702041626
Chunk appended successfully in 10.768628358840942
Chunk appended successfully in 10.216265201568604
Chunk appended successfully in 10.862017631530762
Chunk appended successfully in 11.64080262184143
Chunk appended successfully in 11.674468755722046
Chunk appended successfully in 10.8088219165802
Chunk appended successfully in 10.248314142227173
Chunk appended successfully in 10.863540410995483
Chunk appended successfully in 11.000688791275024
Chunk appended successfully in 11.314236879348755
Chunk appended successfully in 10.828716278076172
Chunk appended successfully in 10.736995220184326
Chunk appended successfully in 10.921918153762817
Chunk appended successfully in 11.346296548843384
Chunk appended successfully in 11.417683839797974
Chunk appended successfully in 11.945162296295166
Chunk appended successfully in 11.109982967376709
Chunk appended successfully in 10.586201906204224
Chunk appended successfully in 11.009644508361816
Chunk appended successfully in 10.374801397323608
Chunk appended successfully in 11.032336473464966
Chunk appended successfully in 11.260560750961304
Chunk appended successfully in 10.53689694404602
Chunk appended successfully in 11.056589841842651
Chunk appended successfully in 11.117974996566772
Chunk appended successfully in 11.719171047210693
Chunk appended successfully in 10.499474048614502
Chunk appended successfully in 10.586128950119019
Chunk appended successfully in 10.288605451583862
Chunk appended successfully in 10.68283987045288
Chunk appended successfully in 11.121004104614258
Chunk appended successfully in 12.355930089950562
Chunk appended successfully in 10.896991968154907
Chunk appended successfully in 11.236275911331177
Chunk appended successfully in 9.968780755996704
Chunk appended successfully in 10.228002548217773
Chunk appended successfully in 11.921855211257935
Chunk appended successfully in 7.539480686187744

StopIteration: